{% extends 'base.html' %}{% load bootstrap_toolkit %}

{% block title %}{{ block.super }}: Add Media Object to {{ event.name|title }}{% endblock title %}

{% block extra_head %}
		{{ form.media }}
{% endblock extra_head %}

{% block content %}<h1>Add New Media Object to "{{ event.name|title }}"</h1>

<div>
	<form action='.' method='post' enctype='multipart/form-data'>
		{% csrf_token %}
		{{ form|as_bootstrap }}
		<button type='submit' class='btn btn-primary'>Add media object <i class='icon-plus-sign icon-white'></i>
	</form>
</div>{% endblock content %}
