{% extends 'events/base.html' %}{% load bootstrap_toolkit %}
{% block title %}{{ block.super }}: timeline{% endblock title %}

{% block breadcrumb_items %}{{ block.super }}
<li><span class="divider">/</span> Timeline</li>{% endblock %}

{% block javascript %}{{ block.super }}
<script type='text/javascript' src='{{ STATIC_URL }}js/jquery.tipsy.js'></script>
<link href='{{ STATIC_URL }}css/tipsy.css' rel='stylesheet' type='text/css' />
<script type='text/javascript' src='{{ STATIC_URL }}js/d3.v2.js'></script>
<script type='text/javascript'>
	$(document).ready(function(){
		var padding = 20;
		var width = 860;
		var height = 400;

		var format = d3.time.format('%Y-%m-%d %H:%M:%S');
		var t_format = d3.time.format('%Y-%m-%dT%H:%M:%S');

		var start = format.parse('{{ start|date:"Y-m-d H:i:s" }}');
		var end = format.parse('{{ end|date:"Y-m-d H:i:s" }}');

		var vis = d3.select('#timeline').
			append('svg:svg').
			attr('width', width + padding * 2).
			attr('height', height + padding * 2);
		var x = d3.time.scale().domain([start, end]).range([padding, width+padding]);
		var y = d3.scale.linear().domain([0,2]).range([padding, height+padding]);

		var media_height_scale = d3.scale.log().
			range([5,30]).
			domain([1,100]).
			clamp(true);

		var color_scale = d3.scale.ordinal().
		 range([d3.hsl('#FFDD55'), d3.hsl('#FFDD55'), d3.hsl('#44CCF6'), d3.hsl('#808080')]).
		 domain(['yt', 'YouTubeVideo', 'tw', 'MediaObject']);

		vis.selectAll('.xTicks').
			data(x.ticks(20)).
			enter().
			append('svg:line').
			attr('x1', x).
			attr('y1', padding).
			attr('x2', x).
			attr('y2', height + padding).
			attr('stroke', 'lightgrey').
			attr('class', 'yTicks');

		vis.selectAll('text.xAxis').
			data(x.ticks(20)).
			enter().
			append('svg:text').
			text(function(date_tick) {
				return d3.time.format('%H:%M')(date_tick);
			}).
			attr('x', x).
			attr('y', height + padding + 10).
			attr('text-anchor', 'middle').
			attr('fill', 'black');

		$.getJSON('/events/{{ event.id }}/media_objects/?start={{ start|date:"Y-m-d H:i:s" }}&end={{ end|date:"Y-m-d H:i:s" }}', function(data) {
			var node = vis.selectAll('g').
				data(data.media_objects).
				enter().
				append('svg:g').
				attr('transform', function() { return "translate(" + 0 + "," + y(Math.random()*2) + ")";});

			node.append('svg:rect').
				attr('x', function(datum) { 
					return x(t_format.parse(datum.datetime)); 
				}).
				attr('y', function(datum) { 
				 return 0 - media_height_scale(datum.responses.length) / 2;
				}).
				attr('height', function(datum) { 
				 return media_height_scale(datum.responses.length);
				}).
				attr('width', function(datum) {
					return x(t_format.parse(d3.max(datum.responses, function(d) { return d.datetime; }))) - 
						x(t_format.parse(datum.datetime));
				}).
				attr('fill', function(datum) {
					return color_scale(datum.model).brighter();
				});

			node.append('svg:rect').
				attr('x', function(datum) { 
					return x(t_format.parse(datum.datetime)); 
				}).
				attr('class', 'media_object').
				attr('y', function(datum) { 
				 return 0 - media_height_scale(datum.responses.length) / 2;
				}).
				attr('height', function(datum) { 
				 return media_height_scale(datum.responses.length);
				}).
				attr('width', 10).
				attr('fill', function(datum) { 
					return color_scale(datum.model);
				}).
				attr('stroke', 'black');

			var circles = node.selectAll('circle').data(function(d, i) { return d.responses; }).
				enter().
				append('svg:circle').
				attr('cx', function(datum) { 
					return x(t_format.parse(datum.datetime)); 
				}).
				attr('cy', 0).
				attr('r', 3).
				attr('fill', function(datum) { 
					return color_scale(datum.source_type);
				});

			$('svg rect.media_object').tipsy({ 
			gravity: 'w', 
			html: true, 
				delayOut: 500,
				fade: true,
				title: function() {
					var data = this.__data__;
					return d3.time.format('%H:%M')(t_format.parse(data.datetime)) + ': ' + data.name;
				}
			});
		});

		//$.getJSON('/events/{{ event.id }}/response_objects/?start={{ start|date:"Y-m-d H:i:s" }}&end={{ end|date:"Y-m-d H:i:s" }}&replies=0', function(data) {
		//	vis.selectAll('circle').
		//		data(data.response_objects).
		//		enter().
		//		append('svg:circle').
		//		attr('cx', function(datum) { 
		//			return x(t_format.parse(datum.fields.datetime)); 
		//		}).
		//		attr('cy', function(datum) { return y(Math.random() * 2); }).
		//		attr('r', 2).
		//		attr('fill', function(datum) { 
		//			return (datum.fields.source_type == 'tw') ? '#44CCF6' : '#808080';
		//		});
		//});
	});
</script>{% endblock javascript %}

{% block content %}<h1>{{ event.name }} timeline</h1>
<div class='span12' id='timeline' style='height: 450px;'>
	<noscript>
		This page uses Javascript to show you a timeline. Please enable
		Javascript in your browser to see the full page.
	</noscript>
</div>
<form action='.' method='get' class='form-inline offset2'>
	{{ date_range_form|as_bootstrap:"inline" }}
 <input type="submit" value="Go" class="btn btn-primary">
</form>
{% endblock content %}
