{% extends 'events/base.html' %}{% load bootstrap_toolkit %}

{% block title %}{{ block.super }}: Add Youtube Video to {{ event.name|title }}{% endblock title %}

{% block javascript %}
		{{ form.media }}
{% endblock javascript %}

{% block breadcrumb_items %}{{ block.super }}
<li><span class="divider">/</span> Edit</li>{% endblock %}

{% block content %}<h1>
	<a href='{% url media_list event_id=event.id %}' class='btn btn-mini'>
		<i class='icon-chevron-left'></i>
	</a> Add New Youtube Video to "{{ event.name|title }}"
</h1>

<div id='form_wrapper'>
	<form action='{% url central.views.media_objects.add_youtube event_id=event.id %}' method='post' class='form-horizontal'>
		{% csrf_token %}
		{{ youtube_form|as_bootstrap:'horizontal' }}
		{{ youtube_comments_formset }}
	 <input type='submit' value='Add video' class='btn btn-primary'>
	</form>
</div>{% endblock content %}
