{% extends 'event/base.html' %}

{% block breadcrumb_items %}
<li><span class="divider">/</span> <a href='{% url central.views.events.detail event_id=event.id %}'>{{ event.name }}</a></li>
<li><span class="divider">/</span> All Media Objects</li>{% endblock %}

{% block title %}{{ block.super }}: All Media Objects for {{ media_object.name }}{% endblock title %}

{% block content %}<h1>All Media Objects for "{{ event.name }}"</h1>

<p>Showing {{ media_objects.count|pluralize:"all " }}{{ media_objects.count }} media object{{ media_objects.count|pluralize }}.</p>

<p>
	<a class='btn' href='{% url central.views.media_objects.add event_id=event.id %}'>Add manually <i class='icon-plus-sign'></i></a>
	<a class='btn' href='{% url central.views.media_objects.add_csv event_id=event.id %}'>Add with CSV <i class='icon-plus-sign'></i></a>
	<a class='btn' href='{% url central.views.media_objects.add_youtube_by_id event_id=event.id %}'>Add YouTube video <i class='icon-plus-sign'></i></a>
</p>

{% for media_object in media_objects %}
<div class='row'>
	<div class='span8'>
		<p>
			<strong><a href='{% url central.views.media_objects.detail event_id=event.id media_object_id=media_object.id %}'>{{ media_object.name }}</a></strong>
		</p>
		<p>
			<span class='label label-info'>{{ media_object.author }}</span>, <em>{{ media_object.datetime }}</em>
		</p>
	</div>
	<div class='span4'>
		<a class='btn btn-mini btn-info' href='{% url central.views.media_objects.edit event_id=event.id media_object_id=media_object.id %}'>Edit</a>
		<a class='btn btn-mini btn-danger' href='{% url central.views.media_objects.delete event_id=event.id media_object_id=media_object.id %}'>Delete</a>
	</div>
</div>
{% endfor %}

{% endblock content %}
