<!DOCTYPE html>{% load bootstrap_toolkit %}
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<title>{% block title %}Occupy Timeline Tool{% endblock %}</title>

		{% block javascript %}<script src='{{ STATIC_URL }}js/jquery.min.js' type='text/javascript'></script>{% endblock javascript %}

		{% block style %}{% bootstrap_stylesheet_tag %}
		<!--[if lt IE 9]>
		<script src='//html5shim.googlecode.com/svn/trunk/html5.js'></script>
		<![endif]-->{% endblock %}

		{% block extra_head %}{% endblock %}
	</head>
	<body>
		<div class='container'>
			<ul class='breadcrumb'>
				<li><a href='{% url central.views.index %}'>Home</a></li>{% block breadcrumb_items %}{% endblock %}
			</ul>
			{% if messages %}{% for message in messages %}
					<div class='alert{% if message.tags %} alert-{{ message.tags }}{% endif %}'>
						<a class="close" data-dismiss="alert">×</a>
						{{ message }}
					</div>
				{% endfor %}{% endif %}
			{% block content %}Empty page{% endblock %}
		</div>
		<footer class='row'>
		</footer>
	</body>
</html>
