{% extends 'events/base.html' %}{% load bootstrap_toolkit %}

{% block title %}{{ block.super }}: Add Media Object to {{ event.name|title }}{% endblock title %}

{% block javascript %}
		{{ form.media }}
{% endblock javascript %}

{% block breadcrumb_items %}{{ block.super }}
<li><span class="divider">/</span> Add Response Object</li>{% endblock %}

{% block content %}<h1>
	<a href='{% url central.views.response_objects.list event_id=event.id %}' class='btn btn-mini'>
		<i class='icon-chevron-left'></i>
	</a> Add New Response Object to "{{ event.name|title }}"
</h1>

<div>
	<form action='.' method='post'>
		{% csrf_token %}
		{{ form|as_bootstrap }}
		<button type='submit' class='btn btn-primary'>Add media object <i class='icon-plus-sign icon-white'></i>
	</form>
</div>{% endblock content %}
