{% extends 'response_objects/base.html' %}{% load bootstrap_toolkit %}

{% block title %}{{ block.super }}: Edit Response Object{% endblock title %}

{% block breadcrumb_items %}{{ block.super }}
<li><span class="divider">/</span> Edit</li>{% endblock %}

{% block javascript %}
		{{ form.media }}
{% endblock javascript %}

{% block content %}<h1>
	<a href='{% url response_detail event_id=event.id,response_object_id=response_object.id %}' class='btn btn-mini'>
		<i class='icon-chevron-left'></i>
	</a> Edit "{{ response_object.name|default:response_object }}"</h1>
</h1>

<div>
	<form action='.' method='post'>
		{% csrf_token %}
		{{ form|as_bootstrap }}
		<button type='submit' class='btn btn-primary'>Add media object <i class='icon-plus-sign icon-white'></i>
	</form>
</div>{% endblock content %}
